@model IEnumerable<HospitalManagementSystem.Models.Doctors>
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        .custom-mt{
            margin-top: 120px;
        }
        body{
            background-image: url('/images/image6.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    @if (TempData["logout"] != null)
    {
        <h4 style="text-align:center">Successfully Loggedout.Thankyou</h4>
    }
    else
    {
        <div class="row">
            <div class="col-md-4 custom-mt">
                <h4>Doctor's On Leave</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <td>
                                <strong>Name</strong>
                            </td>
                            <td>
                                <strong>Available Date</strong>
                            </td>
                        </tr>
                    </thead>
                    @foreach(var items in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelitems => items.FullName)
                            </td>
                            <td>
                                27.Jan.2024
                            </td>
                        </tr>
                    }                    
                </table>
            </div>
            <div style="align-content:center" class="col-md-8">
                <div class="col-md-4">
                    <table class="table table-dark table-borderless">
                        <tr>
                            <td>
                                <p class="fs-4">Active Doctors</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="fs-1">@ViewBag.DoctorCount</p>
                            </td>
                        </tr>
                    </table>
                    <table class="table table-dark table-borderless">
                        <tr>
                            <td>
                                <p class="fs-4">Active Patients</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="fs-1">@ViewBag.PatientCount</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    }
</body>