@{
    ViewData["Title"] = "AccessDenied";
    Layout = null;
}
<body>
    <div style="text-align:center">
        <h1 style="color:red">Access Denied</h1>
        <h5 style="color:black">You do not have permission to view the page. Please contact your Administrator.</h5>
        <img src="~/images/image5.jpg" style="height:400px width=400px" />
        <a asp-action="Index" asp-controller="Home">
            Click here to go to Home Page
        </a>
    </div>
</body>